.InitPage {

}

.InitPage .enter-Info {
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.InitPage .submit {
    padding: 20px;
    margin: 0 700px 0;
}

.InitPage .right {


}
.InitPage .able {
    margin-bottom: 100px;
}

.InitPage .input-able {
    margin-right: 20px;
}

.InitPage .input-unable {
    margin-right: 20px;
}

/*.InitPage .left {*/
/*   float: left;*/
/*}*/

/*.InitPage .right {*/
/*   float: right;*/
/*}*/

/*.InitPage .submit {*/
/*    */
/*}*/