.InitPage {

}

.InitPage .enter-Info {
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.InitPage .submit {
    padding: 20px;
    margin: 0 700px 0;
}



/*.InitPage .left {*/
/*   float: left;*/
/*}*/

/*.InitPage .right {*/
/*   float: right;*/
/*}*/

/*.InitPage .submit {*/
/*    */
/*}*/